body {
    background-color: white;
    color: black;
    text-align: center;
}

h1 {
    background-color: #8280ff;
    color: black;
}

p {
    font: Times New Roman;
}

a {
    color: #8280ff;
}

div {
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #c2f0ff;
}

li {
    float: left;
}
   
li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  position: relative;
}

li a:hover {
  background-color: #99d2e5;
}
