body {
    background-color: black;
    color: white;
    text-align: center;
}

h1 {
    background-color: #ffcccc;
    color: black;
}

p {
    font: italic small-caps bold 16px/2 cursive;
}

a {
    color: #ffcccc;
}

div {
  border: 10px solid transparent;
  border-image-source: url(https://i.pinimg.com/originals/ca/ea/9b/caea9b686cef45bc33e1bffd8d2eb8a8.png);  
  border-image-slice: 30;
}

