body {
    background-color: black;
    color: white;
    text-align: center;
}

h1 {
    background-color: #ffcccc;
    color: black;
}

p {
    font: italic small-caps bold 16px/2 cursive;
}

a {
    color: #ffcccc;
}

div {
  border: 0.5rem outset pink;
}
